.icon {
  height: 23px;
  width: 23px;
  min-height: 23px;
  min-width: 23px;
  margin-left: 3px;
  cursor: pointer;
}

.icon img:last-child {
  display: none;
}
.icon:hover img:last-child {
  display: inline;
}
.icon:hover img:first-child {
  display: none;
}
